.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-body {
  height: 150px;
  max-height: 150px;
}

.property-type {
  color: #a52903;
  font-weight: bold;
}

.property-name {
  color: #484848;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  margin: 0;
}

.property-price {
  color: #484848;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-top: 5px;
}

img {
  max-height: 220px;
  max-width: 340px;
  width: 100%;
}

.card {
  margin: 0px 20px 0px 20px;
  width: 340px;
}

@media only screen and (max-width: 990px) {
  .card {
    margin: 0px 15px 0px 15px;
    width: 330px;
  }
}

.navbar {
  background-color: #FFFFFF;
  box-shadow: 5px 5px 20px #eeeeee;
}

.navbar-brand {
  color: #FF585D;
}

.property-type {
  color: #FF585D;
  margin-top: -10px;
  font-size: 14px;
  text-transform: uppercase;
}

.property-name {
  font-size: 18px;
  font-weight: 500;
}

.property-price {
  font-size: 15px;
}

.text-muted {
  background-color: #FFFFFF;
  box-shadow: -5px -5px 20px #eeeeee;
  padding-top: 20px;
  padding-bottom: 10px;
}

a {
  color: #FF585D;
}